.logo {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;

    .logoName {
        text-decoration: none;
    }

    img {
        margin-right: 10px;
        width: 50px;
        height: fit-content;
    }
}
.header {
    height: 100px;
    width: 100%;

    &__wrap {
        display: flex;
        height: 100%;
        padding: 0 2rem;
        align-items: center;
        justify-content: space-between;

        .header__nav {
            display: flex;
            list-style: none;

            li {
                text-decoration: none;
                position: relative;
                margin-left: 2rem;
                padding: 5px 0;
                font-weight: 700;
                font-size: 1.5rem;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    transition: width 0.5s ease;
                    height: 2px;
                    background-color: #000;
                }

                &.active::after,
                &:hover::after {
                    width: 100%;
                }

                .header__nav-link {
                    text-decoration: none;
                }
            }
        }
    }
}