button {
    cursor: pointer;
    // font-family: ;
}

.btn {
    border: 4px solid transparent;
    background-color: #000;
    color: red;
    border-radius: 8px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff0044;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 7px 15px #ff0044;
}

.btn-outline {
    border: 3px solid #c8c8c8;
    background-color: transparent;
    color: #fff;
    box-shadow: unset;
}

.btn-outline:hover {
    box-shadow: unset;
    color: red;
    background-color: black;
}